.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    gap: 30px;
}

#Rock {
    font-size: xx-large;
}

#Paper {
    font-size: xx-large;
}

#Scissors {
    font-size: xx-large;
}

#endgame {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
